@font-face {
	font-family: 'Avenir';
	font-style: light;
	font-weight: light;
  src: url('../assets/Fonts/ProximaNova/ProximaNovaSoft/webFonts/proximanovasoft-regular.woff') format('woff');
}

$blue: #059ece;
$lightBlue: #4bc8dd;
$darkBlue: #4b74b5;
$blueGreen: #6accc0;
$green: #42c697;
$orange: #f4b571;
$magenta: #d6639d;
$purple: #916fb5;
$red: #ef6c6c;
$yellow: #f7db63;
$white: #ffffff;
$navy: #3D4957;
$darkPurple: #2c2238;
$grey: #B1B1B1;
$darkGrey: #B1B1B1;

body {
  font-family: 'Avenir';
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0; 
}

.text-l {
	font-weight: light;
}

.textWhite {
	color: $white;
}

.textBlue {
  color: $blue;
}

.textMagenta {
  color: $magenta;
}

.bgBlue {
    background-color: $blue;
}
.bgLightBlue {
    background-color: $lightBlue;
}
.bgDarkBlue {
    background-color: $darkBlue;
}
.bgBlueGreen {
    background-color: $blueGreen;
}
.bgGreen {
    background-color: $green;
}
.bgOrange {
    background-color: $orange;
}
.bgMagenta {
    background-color: $magenta;
}
.bgPurple {
    background-color: $purple;
}
.bgRed {
    background-color: $red;
}
.bgYellow {
    background-color: $yellow;
}
.bgNavy {
    background-color: $navy;
}
.bgGrey {
    background-color: $grey;
}

.mt0-5 {
  margin-top: 0.5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.p0-5 {
  padding: 0.5rem;
}

.p1 {
  padding: 1rem;
}

.pt3 {
  padding-top: 3rem;
}

.ml0-5 {
  margin-left: 0.5rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}

.ml3 {
  margin-left: 3rem;
}

.mr3 {
  margin-right: 3rem;
}

.pr3 {
  padding-right: 3rem;
}
.pl3 {
  padding-left: 3rem;
}

.pr5 {
  padding-right: 5rem;
}
.pl5 {
  padding-left: 5rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.textGrey {
  color: $grey;
}

.text0-9 {
  font-size: 0.9rem
}

.text1-2 {
  font-size: 1.2rem;
}

.text1-5 {
  font-size: 1.5rem;
}

.text1-8 {
  font-size: 1.8rem;
}

.text2 {
  font-size: 2rem;
}

.h10 {
	height: 10rem;
}
.h15 {
  height: 15rem;
}
.h20 {
	height: 20rem;
}
.h30 {
	height: 30rem;
}
.h40 {
	height: 40rem;
}
.h50 {
	height: 50rem;
}

.textInputLarge:focus {
  width: 22rem;
  transition: 0.1s;
}

.textInputLarge {
    width: 20rem;
    border-radius: 0.25rem;
    background-color: $white;
    font-size: 0.9rem;
    margin: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding: 0.7rem;
    border: none;
    font-weight: light !important;
    transition: 0.1s;
}

.buttonLarge:hover {
    width: 22rem;
    transition: 0.05s;
}

.buttonLarge {
  width: 20rem;
  border-radius: 0.25rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin: 0.25rem;
  font-size: 0.9rem;
  border: none;
  text-align: center;
  cursor: pointer;
  font-weight: light !important;
  transition: 0.1s;
}

*:focus {
    outline: 0;
}

input {
	font-weight: light;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.bRightWhite {
  border-right-width: 1px;
  border-right-color: $white;
  border-right-style: solid;
}

.flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction:         column;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction:         row;
  justify-content: stretch; 
}

.flex-row-right {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction:         row;
  justify-content: flex-end;  
}

.flex-grow {
  flex-grow: 1;
}

.homeHeader-bg {
  height: 25rem;
  background-image: linear-gradient(
      rgba(75, 116, 181, 0.5), 
      rgba(141, 111, 181, 1)
    ), url("../assets/storebg.jpg");
  background-size: cover;
  background-position: 0rem 0rem;
}

.full-bg {
  height: 100%;
  background-image: linear-gradient(
      rgba(75, 116, 181, 0.8), 
      rgba(141, 111, 181, 0.6)
    ), url("../assets/storebg.jpg");
  background-size: cover;
  background-position: 0rem 0rem;
}

.w-full {
  width: 100%;
}

.tile-bg {
  background-image: linear-gradient(
      rgba(75, 116, 181, 0.8), 
      rgba(141, 111, 181, 0.8)
    ), url("../assets/storebg.jpg");
  background-size: cover;
  background-position: 0rem 0rem;
}

.opacityTile {
  opacity:0.7;
  transition: 0.1s;
}

.opacityTile:hover {
  opacity:1;
  transition: 0.1s;
}

.p-0-25 {
  padding: 0.25rem;
}

.textRight {
  text-align: right;
}

.floatRight {
  float: right;
}

.c-h {
	justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.c-v {
	align-items: center;
}

.p {
	cursor: pointer;
}

.right {
  position: absolute;
  right: 1rem;
}

.c {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.logo {
	height: 150px;
	width: 150px;
}

.spinner {
  margin: 100px auto;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 12px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.1) }  
  40% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }  40% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}